# Ignore node_modules directory
backend/node_modules/
frontend/node_modules/

# Ignore log files
*.log

# Ignore build outputs
dist/
build/

# Ignore environment variables file (e.g., .env)
.env

# Ignore editor configuration files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db

#sjlfjd\
request.rest

